#app {
  font-size: large;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -5rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 2rem 2rem;
  font-size: 24px;
  font-weight: bold;
}

#sidebar-wrapper .sidebar-footer {
  padding: 2rem 2rem;
}

#sidebar-wrapper .list-group {
  width: 300px;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -300PX;
  }
}

.bg-light {
  background-color: skyblue !important;
}

#page-content-wrapper {
  background-color: rgb(216, 233, 238);
}

.info {
  padding-top: 200px;
}

.register input,
.login input,
.tambah input {
  width: 300px;
  height: 40px;
  display: block;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid skyblue;
}

.register button,
.login button,
.tambah button {
  width: 300px;
  height: 40px;
  border: 1px solid black;
  background: darkblue;
  color: white;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  display: block;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.register button:hover,
.login button:hover,
.tambah button:hover {
  background-color: skyblue;
  color: black;
}
